@import "normalize";
@import "config";
@import "mixins";
@import "mq";
@import "text";
@import "grid";
@import "lists";


*,
*:after,
*:before {
    @include box-sizing(border-box);

}

.overflow-disabled {
    overflow: hidden;
}

img {
    @include resp-img();
}


