// colors
$c-black: #000;
$c-grey: #f8f8f8;
$c-white: #fff;

$main-text: $c-black;


// Text
$primaryFont: 'Source Sans Pro', sans-serif !default;

$base-line-height: 1.71;
$base-font-size: 14px;
$vertical-rhythm: $base-line-height * $base-font-size;

// Grid
$gutter: 20px;
$grid-columns: 12;

$container-width: 1240px;


// Breakpoints
$bp--xxs: rem(479px);
$bp--xs: rem(480px);
$bp--sm: rem(768px);
$bp--md: rem(992px);
$bp--lg: rem(1200px);

//paths
$imgDir: '../../dist/img/';


// base64 images (icons)
