.container {
    max-width: rem($container-width);
    margin: 0 auto;
    padding-left: #{$gutter/2};
    padding-right: #{$gutter/2};
    @include clearfix();
}


.row {
    margin: 0 -#{$gutter/2};
    @include clearfix();
}



[class*='col-'] {
    position: relative;
    float: left;
    padding-left: #{$gutter/2};
    padding-right: #{$gutter/2};
    width: 100%;
    min-height: 1px;
}

.row--noGutter {
    margin: 0;

    [class*='col-'] {
        padding-left: 0;
        padding-right: 0;
    }

}

// ex.col-xs-4
@mixin generateColumns($grid-columns, $prefix: null) {
    @for $i from 1 through $grid-columns {

        .col-#{$prefix}#{$i} {
            width: 100% / $grid-columns * $i;
        }

    }
}

@include generateColumns($grid-columns);

@include mobile--small {
    @include generateColumns($grid-columns, 'xxs-');
}

@include mobile {
    @include generateColumns($grid-columns, 'xs-');
}

@include tablet {
    @include generateColumns($grid-columns, 'sm-');
}

@include desktop {
    @include generateColumns($grid-columns, 'md-');
}

@include desktop--wide {
    @include generateColumns($grid-columns, 'lg-');
}