ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;

    list-style: none;
}


.listButtoned {
    text-align: center;

    &-item {
        margin-bottom: rem(10px);
        padding: rem(15px) rem(10px);

        @include text(24px,1.2);
        color: $c-white;

        background: $c-black;
    }
}