@mixin respond-to($breakpoint, $max: null) {
    @if $max {
        @media only screen and (max-width: $breakpoint) { @content; }
    }
    @else {
        @media only screen and (min-width: $breakpoint) { @content; }
    }
}

@mixin mobile--small {
    @media only screen and (max-width: $bp--xxs) { @content; }
}
@mixin mobile {
    @media only screen and (min-width: $bp--xs) { @content; }
}
@mixin tablet {
    @media only screen and (min-width: $bp--sm) { @content; }
}
@mixin desktop {
    @media only screen and (min-width: $bp--md) { @content; }
}
@mixin desktop--wide {
    @media only screen and (min-width: $bp--lg) { @content; }
}

