// REMS
@function rem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: rem($size);
}


// text
@mixin text($size: $base-font-size, $line-height: $base-line-height, $family: $primaryFont) {
    @include font-size($size);
    line-height: $line-height;
    font-family: $family;
}


html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    @include text();

}

h1, h2, h3 {
    font-weight: 400;
}

h1 {
    @include text(60px, 1);

    @include tablet {
        @include font-size(72px);
    }
}

h2 {
    padding-top: rem(50px);

    @include text(24px, 1);
    letter-spacing: 0.03em;
}

p {
    margin-bottom: rem(24px);

    @include text();
    letter-spacing: 0.028em;
}

a {
    text-decoration: none;
}

