@mixin generate-spacing-classes(
    $default-space-amounts-with-direction: (0 left l, 5 left l, 10 left l, 15 left l, 25 left l, 30 left l,40 left l)
) {
    @each $space in $default-space-amounts-with-direction {
        .u-m#{nth($space, 3)}-#{nth($space, 1)} {
            margin-#{nth($space, 2)}: #{nth($space, 1)/16}rem;
        }
    }

    @each $space in $default-space-amounts-with-direction {
        .u-p#{nth($space, 3)}-#{nth($space, 1)} {
            padding-#{nth($space, 2)}: #{nth($space, 1)/16}rem;
        }
    }
}

$right-space-vars: (0 right r, 5 right r, 10 right r, 15 right r, 25 right r, 30 right r);
$bottom-space-vars: (0 bottom b, 5 bottom b, 10 bottom b, 15 bottom b, 20 bottom b, 25 bottom b, 30 bottom b, 35 bottom b);
$top-space-vars: (-10 top t, -15 top t,0 top t, 5 top t, 10 top t, 15 top t, 25 top t, 30 top t, 50 top t, 60 top t);

@include generate-spacing-classes(); // left comes by default
@include generate-spacing-classes($right-space-vars);
@include generate-spacing-classes($bottom-space-vars);
@include generate-spacing-classes($top-space-vars);


.u-vertSpacing-xl {

    padding-top: rem(60px);
    padding-bottom: rem(60px);

    @include tablet {
        padding-top: rem(120px);
        padding-bottom: rem(120px);
    }
}