.btn {
    position: relative;
    overflow: hidden;

    display: inline-block;
    max-width: 100%;
    height: rem(52px);
    margin-bottom: rem(20px);
    border: 0;
    padding: 0 rem(50px);


    color: $c-black;
    @include text(18px, 2.7);
    font-weight: 600;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-align: center;

    background: $c-white;

    outline: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 1;

    transition: 0.2s ease;

    &:hover,
    &:active {
        background: $c-grey;
    }
}


