.footer {
    margin-top: rem(20px);
    padding: rem(30px) rem(10px);

    color: $c-white;
    text-align: center;

    background: $c-black;

    @include tablet {
        margin-top: rem(100px);
    }

    p {
        margin: 0;

        line-height: 1;
        text-transform: uppercase;
    }
}