//.gallery {}
.gallery-item {
    position: relative;

    cursor: pointer;
}
.gallery-content {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: rgba($c-white, .8);

    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity .4s;
}

.gallery-btn {
    position: absolute;
    left: 50%;
    top: 50%;

    opacity: 0;
    transform: translateX(-50%) translateY(30%) scale(.4, .4);
    backface-visibility: hidden;
    transition: transform .5s, opacity .3s;
}

.gallery-img {
    display: block;
}

.no-touchevents .gallery-item:hover .gallery-content,
.touchevents .gallery-content.is-clicked {
    visibility: visible;
    opacity: 1;

    .gallery-btn {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1,1);
    }
}
