.hero {
    position: relative;

    text-align: center;

    background: url('#{$imgDir}hero/mini.jpg') center center;
    background-size: cover;
}

.hero-intro {
    display: table;
    width: 100%;
    height: 200px;

    color: $c-white;
    text-align: center;

    @include tablet {
        height: 500px;
    }

    @include desktop {
        height: 600px;
    }
}

.hero-title {
    display: table-cell;
    vertical-align: middle;
}