.modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;

    width: 100%;
    height: 100%;
    background: rgba($c-white, .7);
    overflow: auto;

    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;


    &.is-visible {
        opacity: 1;
        visibility: visible;
        overflow: hidden;
    }
}

.modal-container {
    position: relative;
    width: 90%;
    max-width: rem(1240px);
    max-height: calc(100vh - 100px);
    margin: 4em auto;
    padding: rem(20px);
    overflow-y: auto;

    background: #fff;

    transform: translateY(rem(-40px));
    -webkit-backface-visibility: hidden;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3);
    transition: transform .3s;

    .is-visible & {
        transform: translateY(0);
    }

    @include tablet {
        padding: rem(80px) rem(120px);
    }
}

.modal-close {

    position: absolute;
    right: rem(20px);
    top: rem(20px);
    width: rem(30px);
    height: rem(30px);

    @include tablet {
        right: rem(55px);
        top: rem(55px);
    }

    &::before,
    &::after {
        content: " ";
        position: absolute;
        top: rem(14px);

        display: block;
        width: rem(25px);
        height: rem(2px);
        background: $main-text;
    }

    &::before {
        transform: rotate(45deg);
        left: rem(3px);
    }

    &::after {
        transform: rotate(-45deg);
        right: rem(3px);
    }
}
