.videoPods {
    @include tablet {
        padding-bottom: rem(100px);
    }
}

.videoPod {
    margin-bottom: rem(20px);

    background: $c-grey;
}

.videoPod-videoWrapper {
    @include resp-video();
}

//.videoPod-iframe {}

.videoPod-content {
    padding: rem(20px);
}

.videoPod-title {
    @include text(28px, 1);
}
